/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: #bcaab7;
color: white;
}

a {
    color: #5c7464;
}

.btn-green {
background-color: #aabcb0;
color: white;
border: none;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #bcaab7;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}
